<h3 class="bg-info text-white text-center p-3">Our places to go</h3>
<!-- <ul class="nav nav-tabs justify-content-center">
  <li class="nav-item" routerLinkActive = "active current">
    <a class="nav-link" routerLink="/togo/all">All</a>
  </li>
  <li class="nav-item" routerLinkActive = "active current">
    <a class="nav-link" routerLink="/togo/explore">To explore</a>
  </li>
  <li class="nav-item" routerLinkActive = "active current">
    <a class="nav-link" routerLink="/togo/visited">Visited</a>
  </li>
</ul> -->
<router-outlet></router-outlet>
<!-- <div class="p-3 container-md">
  <app-togo-list></app-togo-list>
</div>

<div class="p-5 container form-togo">
  <app-togo-form></app-togo-form>
</div> -->