<div class="container">
    <div class="row">
        <div class="wheelOfFortune col-6 mt-5">
            <canvas #wheel width="500" height="500" style="width:100%" class="wheel">
            </canvas>
            <div #spin class="spin-btn" (click)="onSpin()">{{spinBtnText}}</div>
        </div>
        <div class="col-6 mt-5 wheel-input ">
            <p>Select from availble cuisines from your list</p>
            <div class="btn wheel-input-btn me-2" *ngFor="let item of wheelSlices; let i = index;"
                (click)="toggleSlice(i)" [ngClass]="item.isActive===true?'isActive':'isInactive'"><i
                    class="fas fa-times me-1"></i>{{item.cuisine}}
            </div>
        </div>
    </div>

</div>