<div class="container">
    <div class="spin-btn" (click)="onSpin()">Spin</div>

    <div #wheel class="wheel" [ngStyle]="wheelStyle">
        <div #wheelOptions class="wheel-option" *ngFor="let item of data; let i = index" [style.--i]="i+1"
            [ngStyle]="sliceStyles[i]">
            <span>{{item}}</span>
        </div>
        <!-- <div class="wheel-option" style="--i:1;"><span>100</span></div>
        <div class="wheel-option" style="--i:2;"><span>400</span></div>
        <div class="wheel-option" style="--i:3;"><span>200</span></div>
        <div class="wheel-option" style="--i:4;"><span>500</span></div>
        <div class="wheel-option" style="--i:5;"><span>100</span></div>
        <div class="wheel-option" style="--i:6;"><span>700</span></div>
        <div class="wheel-option" style="--i:7;"><span>50</span></div>
        <div class="wheel-option" style="--i:8;"><span>60</span></div> -->

    </div>
</div>