body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

.wheelOfFortune {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  display: flex;
}

.wheel-input {
  font-size: 2rem;
}

.spin-btn {
  position: absolute;
  width: 100px;
  height: 100px;
  word-wrap: break-word;
  background: #45858c;
  border-radius: 50%;
  z-index: 10;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  border: 4px solid #fff;
  box-shadow: 0 0 0 4px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  user-select: none;
}

.spin-btn::after {
  content: "";
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.isInactive:hover,
.wheel-input-btn {
  background-color: #45858c;
  color: #fff;
}

.isActive:hover,
.isInactive {
  border: 1px solid #45858c;
  background-color: #fff;
  color: #45858c;
}

.wheel-input-btn > i {
  display: none;
}

.wheel-input-btn:hover > i,
.isInactive i {
  display: inline;
}
