<div class="table-container">
    <div class="btn-group toggle-menu" role="group" data-toggle="buttons">
        <input type="radio" class="btn-check" name="options" id="option1" value="all" [(ngModel)]="selectedVisitStatus"
            checked />
        <label class="btn btn-outline-secondary" for="option1">All</label>

        <input type="radio" class="btn-check" name="options" id="option2" value="active"
            [(ngModel)]="selectedVisitStatus" />
        <label class="btn btn-outline-secondary" for="option2">To Go</label>

        <input type="radio" class="btn-check" name="options" id="option3" value="visited"
            [(ngModel)]="selectedVisitStatus" />
        <label class="btn btn-outline-secondary" for="option3">Visited</label>
    </div>

    <div>
        <label class="py-2 pe-1">Category: </label>
        <select [(ngModel)]="selectedCategory">
            <option>All</option>
            <option *ngFor="let category of getCategories(places)">
                {{ category }}
            </option>
        </select>
    </div>

    <button class="btn btn-add mb-3" routerLink="/form/create">
        <i class="fas fa-plus" aria-hidden="true"></i> Add new place
    </button>

    <div class="mb-3">
        <app-place-detail *ngFor="
        let place of places
          | searchTable: searchText
          | category: selectedCategory
          | visitStatus: selectedVisitStatus
          | pagination: selectedPage; let i = index" [place]="place"></app-place-detail>
    </div>
</div>