.toggle-menu {
  padding-top: 2em;
  max-width: 200px;  
  display: flex;
  margin-left: 1px;
}

.action-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #BF9765;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #45858C;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #45858C;
}

input .toggle {
  text-align: center;
}

.table-container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.sticky-col {
  position: sticky;
  left: 0px;
  z-index: 10;
  background-color:  rgb(191, 151, 101, 0.85);
  color: #fff;
}

.btn-add {
  color: #fff;
  background-color: #45858C;
  border-color: #A0D9D9;
}

.btn-add:hover {
  background-color: #A0D9D9;
}

.edit-btn {
  background-color: #D9C589;
}

.del-btn {
  background-color: #d92b048d;
}