.action-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input .toggle {
  text-align: center;
}

.edit-btn {
  background-color: #4883ca;
  color: #ffffff;
}

.edit-btn:hover {
  background-color: #7399c8;
}

.del-btn {
  background-color: #d64c2db9;
  color: #ffffff;
}

.del-btn:hover {
  background-color: #d3674eb9;
}

.status-tag {
  background-color: #4883ca;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: small;
  color: #ffffff;
}

.cuisine-tag {
  border: 1px solid #45858c;
  border-radius: 5px;
  padding: 3px 7px;
  color: #45858c;
}

#place-location {
  font-style: italic;
}

.price::after {
  content: "/ per person (approx.)";
}
